<%= form_with(model: @book) do |f| %>
  <% if @book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
        <% @book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="form-group">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <div class="form-group">
    <%= f.label :info %>
    <%= f.text_area :info, rows: 14 %>
  </div>

  <div class="form-group">
    <%= f.label :status %>
    <%= f.select :status, Book.statuses.keys %>
  </div>

  <%= f.label :categories %>

  <div class="categories">
    <%= f.collection_check_boxes :categories, current_user.categories, :id, :name, checked: params[:categories] do |b| %>
      <div>
        <%= b.check_box %>
        <%= b.label { b.text} %>
      </div>
    <% end %>
  </div>

  <%= f.submit %>
<% end %>
