<h1>You have <%= current_user.books.count %> books</h1>
<%= render 'search_form' %>
<%#= debugger %>
<br>
<%== pagy_nav(@pagy) %>
<br>
<%= render 'books' %>
<br>
<%= link_to "Add new Book", new_book_path %>
