<h1>
  You have <%= @books.size %> <%= @category.name %> books
</h1>
<%= render 'books' %>
<br>
<%= link_to "Edit", edit_category_path(@category) %>
<br>
<br>
<%= link_to "Delete", category_path(@category), data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" } %>
<br>
<br>
<%= link_to "Go to categories", categories_path %>
